<div class="container about">
    <div class="col-sm-4 profile-image">
    <img src="https://avatars1.githubusercontent.com/u/6646067?v=3&s=400" height="200px" width="180px">
    </div>

    <div class="col-sm-8">
      <h2>Diana Marquez</h2>
      <h4>Team Lead</h4>
      <p>​Diana is a full stack developer and team leader of Volunteer.me. Diana is pursuing her dream of reforming the public school system through technology. Diana received her BA in Communication at Stanford and worked for 3 years in political consulting.  Beside saving over 25 strangled cats in trees, Diana enjoys hiking, traveling, and a good cup of joe.</p>
    </div>
</div>

<div class="container about">
    <div class="col-sm-4 profile-image">
    <img src="https://avatars0.githubusercontent.com/u/6426390?v=3&s=400" height="200px" width="180px">
    </div>

    <div class="col-sm-8">
      <h2>Hannah Sison</h2>
      <h4>CTO & Co-Founder</h4>
      <p>Programming found Hannah just one short year ago. She has always loved technology and design but didn’t have a clear vision of what her future would look like. She is now a full stack developer in the San Francisco Bay Area. She is fluent in Ruby on Rails, JavaScript, HTML5, and CSS.  Programming has rekindled her love for learning and she is so excited to expand her knowledge in software. </p>
    </div>
</div>

<div class="container about">
    <div class="col-sm-4 profile-image">
      <img src="https://avatars0.githubusercontent.com/u/8811016?v=3&s=400" height="200px" width="180px">
    </div>

    <div class="col-sm-8">
      <h2>Andrés Macedo</h2>
      <h4>CTO & Co-Founder</h4>
      <p>Andres is a junior web developer with a keen interest in javascript and believes in building beautiful and meaningful things. Andres has 6+ years experience as a derivatives trader and tries to bring a different point of view to the tech space. In his free time, you can find canyoneering or riding his bike through the streets of San Francisco.
</p>
    </div>
</div>

<div class="container about">
    <div class="col-sm-4 profile-image">
      <img src="https://avatars3.githubusercontent.com/u/8348320?v=3&s=400" height="200px" width="180px">
    </div>

    <div class="col-sm-8">
      <h2>Amadou Sallah</h2>
      <h4>CTO & Co-Founder</h4>
      <p><%= Faker::Lorem.paragraph(5) %></p>
    </div>
</div>

<div class="container about">
    <div class="col-sm-4 profile-image">
      <img src="https://avatars0.githubusercontent.com/u/8680734?v=3&s=400" height="200px" width="180px">
    </div>

    <div class="col-sm-8" >
      <h2>Richard Chen</h2>
      <h4>CTO & Co-Founder</h4>
      <p>Ricky is a full stack developer and a recent graduate of Dev Bootcamp (DBC) in San Francisco. Prior to DBC, he helped oversee a portfolio of democracy projects in Iraq and the Gulf region at the Center for International Private Enterprise (CIPE), where he became interested in the power of technology in transforming Middle Eastern societies. Ricky earned a degree in International Politics and Economics (Middle East) from Middlebury College.</p>
    </div>
</div>

