<div class="banner">
  <p>Volunteering Made Easy</p>
</div>

<div class="search-bar">
  <ul>
    <li>date</li>
    <li>time</li>
    <li>location</li>
    <li>type</li>
  </ul>

  <form>
    <input type="text" placeholder="French tutor...">
    <input type="submit" value="Search">
  </form>
</div>

<h2>Something Near You...</h2>

<div class="container">
  <div>
    event 1
  </div>
  <div>
    event 2
  </div>
  <div>
    event 3
  </div>
</div>

<button>Explore</button>
