<h1>Volunteer Profile</h1>

<p>Picture goes here </p>
<p><%= @volunteer.name %></p>

<p>superpowers list</p>

<p>commited events list</p>

<p>bookmarked events list. visible only for signed in user on thier page </p>


<%= link_to 'Edit', edit_volunteer_path(@volunteer) %>